
.game_view{
    display: flex;
    padding: 10px;
}

.add_img{
    flex-basis: 40%;
    color:rgb(160, 197, 230);
}
.add_img button{
    color:rgb(118, 132, 144);
    margin: 10px;
}
.add_img img{
    width: 100%;
}
.content_game{
    padding: 20px;
    color: rgb(198, 137, 137);
    flex: 1;
}
.content_game input{
    border: 1px solid rgb(147, 110, 110);
    color: greenyellow;
    padding: 10px;
}
.control_change_game{
    display: flex;
    margin: 20px 0;
    font-size: 20px;
    align-items: center;
    
}
.control_change_game span{
    flex-basis: 20%;
    flex-shrink: 0;
}
.control_change_game input{
    flex-basis: 50%;

}
.dropdown-check-list{

}
.anchor{
     color: greenyellow;
}
.items{
    color: rgb(18, 22, 13);
    background-color: rgba(37, 56, 56, 0.567);
}
.button-54{
    margin: 0 20px;
}